body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
}

h1, h2, h3 {
  padding: 0;
  margin: 0 0 .4em;
}

header {
  text-align: center;
  margin: 0 0 10px;
}

header input[type=text] {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 2px 5px;
  outline: none;
}

header input[type=text]:focus {
  border: 1px solid #09c;
}

#container {
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}

#container ul input[type=text] {
  border: none;
  background: none;
  padding: 3px 6px;
  border-radius: 5px;
}

#container ul input[type=text]:hover,
#container ul input[type=text]:focus {
  outline: none;
  background-color: #fff;
  padding: 2px 5px;
  border: 1px solid #ccc;
}

#container .name {
  font-size: 14px;
  font-weight: bold;
}

#container > ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#container > ul > li {
  padding: 10px;
  margin: 0 0 10px;
  background-color: #eee;
}

#container > ul > li > button {
  float: right;
}